<div class="jumbotron"
    style="background: url(https://www.careergirls.org/wp-content/uploads/2015/06/Computer_Programmer1920X10180.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; height: 100%;">


    <div class="container">

        <div class="row">

            <div class="col-sm-4"></div>

            <div class="col-sm-4">
                <form class="card signIn" id="signincard">
                    
             <h5 class="text-center"> <img src ="projectx_logo.png" class="logohome"> PROJECT X</h5>
                    <div class="form-group">
                        <label for="inputUsername"><p>Username</p></label>
                        <input type="username" class="form-control" id="inputUsername" aria-describedby="username">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword"><p>Password</p></label>
                        <input type="password" class="form-control" id="inputPassword">
                    </div>
                    <button type="submit" class="btn btn-light btn-outline-dark btn-block btnhome"><h5>SUBMIT</h5></button>
                    <button type="signup" class="btn btn-light btn-outline-dark btn-block btnhome"
                        onclick="window.location.href = '/signup';"><h5>SIGN UP</h5></button>

                </form>

            </div>
        </div>
    </div>


    <nav class="navbar fixed-bottom nnavbar-dark bg-dark">
        <a class="navbar-brand align-content-center"></a>

    </nav>