<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Project X</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Log Out <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron"
    style="background: url(https://www.careergirls.org/wp-content/uploads/2015/06/Computer_Programmer1920X10180.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">

    <h1 class="display-4" id="jumboTitle">HTML Basics</h1>
</div>

<div class="row" id="videoSection">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                Computer Programming > Intro into HTML > HTML Basics
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <a href="">HTML</a>
                <br>
                <a href="">CSS</a>
                <br>
                <a href="">Javascript</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6" id="codingVid">
        <iframe width="550" height="450" src="https://www.youtube.com/embed/UB1O30fR-EE" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
        <br>

    </div>
    <div class="col-sm-3">
        <h6>For additional information:</h6>
        <div class="card">
            <div class="card-body">
                <div class="stackApi">Search Stack Overflow:</div>
                <br>
                <div class="youtubeApi">Search for additional videos:</div>
                <br>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="videoTitle">Intro into HTML</div>
        <br>
        <div class="vidInfo">
            <p>
                This is a crash course on HTML for beginners. You will learn HTML 5 tags, attributes, semantic
                markup, etc.

            </p>
        </div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="commentTitle">Questions:</div>
        <br>
        <form>
            <div class="form-group">
                <textarea class="form-control" id="commentSection" rows="1"></textarea>
            </div>
            <button type="submit" class="btn btn-success submit">Submit</button>
        </form>
        <br>
        <div class="row">
            <div class="comment-container">Comments:
            </div>
        </div>

    </div>
</div>