<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Sign In</a>
            </li>
        </ul>
    </div>
</nav>

<div class = "col-sm-12"><br></div>
<div class="container col-sm-6 col-lg-6">
    <form>
        <div class="form-group">
            <label for="inputUsername">Username</label>
            <input type="username" class="form-control" id="inputUsername" aria-describedby="username">
        </div>
        <div class="form-group">
            <label for="inputEmail">Email Address</label>
            <input type="email" class="form-control" id="inputEmail">
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword">
        </div>
        <div class="form-group">
            <label for="roleSelect">Select your role</label>
            <select class="form-control" id="roleSelect">
                <option>Student</option>
                <option>Mentor</option>
            </select>
        </div>
        <button type="submit" class="btn btn-light btn-outline-dark btn-block">Submit</button>
    </form>

</div>