.form-group {
 
  margin: 5px 10px;
}

  body, html {
    height: 100%;
  }


#jumboTitle {
    color: white;
    font-weight: bolder;
}

.navbar {
    background-color: rgb(23, 50, 100);
    color: white;
    font-weight: bold;
    justify-content: center !important;
    text-align: center !important;
}


.nav-link {
    color: white;
}

#codingVid {
    background-color: black;
    padding-left: 50px;
    padding-right: 20px;
}

.videoTitle {
    font-weight: bolder;
    font-size: 30px;
    border-bottom: lightgray solid 1px;
    padding-bottom: 10px;
}

.vidInfo {

}

.commentTitle {
    font-size: 17px;
    padding-bottom: 5px;
    border-bottom: lightgray solid 1px;
}

img{
  height: 20%;
  width: 10%;
}

  .comment-container {
    padding-bottom: 10px;
    border-top:  lightgray solid 1px;
}

#userComments {
    padding-bottom: 10px;
}

.btnfrm{
  margin-left: 10px;
  width: 96%;
  margin-bottom: 5px;
}

.btnhome{
  margin-left: 10px;
  width: 94%;
  margin-bottom: 5px;
}

#signin{
  font-size: 12px;
  margin-left: 8px;
}

#signincard{
  width: 120%;
}

.logohome{
  margin-top: 10px;
}

p{
  margin-bottom: 0px;
  font-family: 'Share Tech', sans-serif;
}

h5{

  font-family: 'Noto Sans', sans-serif;
}